body{
    margin: 0;
    padding:0;

}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    border: solid 2px;
}

button{
    padding: 10px;
    width:150px;
    margin: 10px;
    background:rgb(49, 221, 23);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 50px;
}

